body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
button{
    background-image: linear-gradient(to right, #FF9B6A, #FF7857);
}
button:hover{
    cursor: pointer;
}
#div1{              /*---DIV1---*/
    width: 50%;
    height: 550px;
    float: left;
    padding: 40px 40px 40px 55px;
    box-sizing: border-box;
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
#div1 > button{
    border: 0px;
    border-radius: 5px;
    background-color: chocolate;
    width: 90px;
    height: 30px;
}
.para{
    opacity: 75%;
    text-align: justify;
}
#div1 > h4{
    color: black;
}
#Peter-text{
    color: orange;
}
#div2{              /*---DIV2---*/
    width: 50%;
    height: 550px;
    float: left;
    box-sizing: border-box;
    padding-top: 27px;
}
#div-clear{
    float: none;
}
#div3{              /*---DIV3---*/
    width: 50%;
    height: 500px;
    float: left;
    box-sizing: border-box;
    padding-left: 60px;
}
#div4 > button{
    border: 0px;
    border-radius: 5px;
    background-color: chocolate;
    font-weight: bold;
    width: 200px;
    height: 30px;
    color: white;
    font-size: 12px;
}
#div4{              /*---DIV4---*/
    width: 50%;
    height: 500px;
    float: left;
    padding-right: 120px;
    box-sizing: border-box;
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px 230px;
    background-position-y: 150px;
}
.section-3{
    float: left;
    width: 100%;
    height: 600px;
    box-sizing: border-box;
    padding: 30px;
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: -25px;
}
.div6{
    width: 44%;
    height: 350px;
    float: left;
    position: relative;
    margin-left: 30px;
    border-left: 7px solid;
    border-image: linear-gradient(to bottom, #FF9F79, #FF6448) 1 100%;
    box-shadow: 10px 15px 30px black;
    overflow: auto;
}
.div7{
    width: 44%;
    height: 350px;
    float: right;
    position: relative;
    margin-right: 30px;
    border-left: 7px solid;
    border-image: linear-gradient(to bottom, #0003FF, #00FDFF) 1 100%;
    box-shadow: 10px 15px 30px black;
    overflow: auto;
}
#pro-dev{
    color: #FFA542;
}
.para-2{
    text-align: justify;
    padding: 5px 17px 0px 17px;
}
#footer{
    opacity: 90%;
    margin-bottom: 15px;
}
#anchor{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

